* {
    box-sizing: border-box;
    text-align: center;
  }
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 30px 0px;
    background-color: rgb(44, 45, 42);
    color: rgb(255, 255, 255);
  }

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;
}

.dates li {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    margin: 4px;
}

.thismonth {
    background-color: rgb(219, 219, 219);
}

ul .today {
    border: 2px solid red;
}